// Theme-ing
$themes: (
  "light": (
    background-primary: #fff,
  ),
  "dark": (
    background-primary: #181c22,
  ),
);

//https://blog.prototypr.io/how-i-theme-my-react-app-with-sass-414e8f905541

/**
 * theme-aware - Change color of a css property based on the currently active theme
 *
 * @param  {key}     CSS property
 * @param  {color}   Color name defined in the themes under _color-palette.scss
 *
 * @example - @include theme-aware('background', 'color-background');
 * @returns - background: #FFF;
 */

@mixin theme-aware($key, $color, $opacity: 1) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      #{$key}: rgba(map-get(map-get($themes, $theme-name), $color), $opacity);
    }
  }
}
