/* Sets font for page */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Sets background color to white, 5% of viewport height, and font to black */
.App-header {
    background-color: white;
    min-height: 5vh;
    color: black;
}

/* Sets size of 'Sync Settings' title */
.page_name {
    font-size: 2rem;
}

/* Adds a table border, set width and margins to center table */
.settings_table {
    width: 80%;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}
    
/* Aligns the table headers */
th {
    height: 4rem;
    width: 55%;
}

/* Pads the table data */
td {
    padding-left: 10%;
}

/* Sets width of and border around input */
.sync_interval_input {
    border: 1px solid rgb(189, 185, 185);
    width: 30%;
}

/* Puts menu on same line as input and adds a border */
.dropdown_container {
    border: 1px solid rgb(189, 185, 185);
    display: inline-block;
}

/* Sets dropdown background to white */
.units_list {
    background-color: white;
}

/* Whitespace and sizing for react-bootstrap button */
.apply_button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
    